<header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <h1><a href="#" class="scrollto">LAN ADEPT</a></h1>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                <li class="menu-active d-block d-sm-none"><a href="#">Accueil</a></li>
                <li><a href="">Places</a></li>
                <li><a href="">Se connecter</a></li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>