<div id="lan" class="white">Le LAN débutera le</div>
<div class="white text-center" id="date">[@date]</div>
<div class="col-xl-6 col-md-10 col-sm-8 col-10 offset-xl-3 offset-md-1 offset-sm-2 offset-1 white countdown">
    <div class='row'>
        <div class='col-md-3 col-6'>
            <div id="days" class='col-12'>{{days}}</div>
            <div>Jours</div>
        </div>
        <div class='col-md-3 col-6'>
            <div id="hours"  class='col-12'>{{hours}}</div>
            <div>Heures</div>
        </div>
        <div class='col-md-3 col-6'>
            <div id="mins"  class='col-12'>{{minutes}}</div>
            <div>Minutes</div>
        </div>
        <div class='col-md-3 col-6'>
            <div id="secs"  class='col-12'>{{seconds}}</div>
            <div>Secondes</div>
        </div>
    </div>
</div>
<a href="" class="btn-Participer">Participer</a>