<ng-container *ngIf="!mobile; else elseMobile">
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" id="first" style="background-image: url('assets/img/adeptInfo.jpg');">
            <div class="carousel-container">
              <div class="carousel-content col-10" style="padding-top: 50px;">
                <h2 class="col-6 ml-auto mr-auto">Bienvenue sur le site du LAN de l'ADEPT</h2>
                <p>Nous organisons un LAN à chaque session durant la semaine de "lecture"!</p>
                <ng-container *ngIf="days > 0 || hours > 0 || minutes > 0 || seconds > 0; else finishTemplate">
                  <div class="white" style="font-size: 2rem">Le LAN débutera le</div>
                  <div class="white title h1" id="date" style="font-size: 4rem">{{getDate()}}</div>
                  <h3 class="countDown title h3" *ngIf="days > 0 || hours > 0 || minutes > 0 || seconds > 0">
                    <div class='row' style='color: white;'>
                      <div class='col-md-3 col-sm-6 col-3'>
                        <div class='col-12'>{{days}}</div>
                        <div *ngIf="days > 1">Jours</div>
                        <div *ngIf="days <= 1">Jour</div>
                      </div>
                      <div class='col-md-3 col-sm-6 col-3'>
                        <div class='col-12'>{{hours}}</div>
                        <div *ngIf="hours > 1">Heures</div>
                        <div *ngIf="hours <= 1">Heure</div>
                      </div>
                      <div class='col-md-3 col-sm-6 col-3'>
                        <div class='col-12'>{{minutes}}</div>
                        <div *ngIf="minutes > 1">Minutes</div>
                        <div *ngIf="minutes <= 1">Minute</div>
                      </div>
                      <div class='col-md-3 col-sm-6 col-3'>
                        <div class='col-12'>{{seconds}}</div>
                        <div *ngIf="seconds > 1">Secondes</div>
                        <div *ngIf="seconds <= 1">Seconde</div>
                      </div>
                    </div>
                  </h3>
                  <a href="" class="btn-get-started scrollto">Participer</a>
                </ng-container>
                <ng-template #finishTemplate>
                  <div class="white" id="date" style="font-size: 4rem">Le LAN est fini</div>
                  <div class="white" style="font-size: 2rem">Nous nous reverrons bientôt</div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #elseMobile>
  <div class="MobileBackground">
    <div class="Veil">
    <div class="MobileContainer">
      <h2 class=" white title" style="font-size: 6vw">Bienvenue sur le site<br> du LAN de l'ADEPT</h2>
      <p class="white" style="font-size: 5vw">Nous organisons un LAN à chaque session durant la semaine de "lecture"!</p>
      <br>
      <br>
      <ng-container *ngIf="days > 0 || hours > 0 || minutes > 0 || seconds > 0; else finishTemplate">
        <div class="white" style="font-size: 6vw">Le LAN débutera le</div>
        <div class="white title h1" id="date" style="font-size: 6vw">{{getDate()}}</div>
        <br>
        <h3 class="countDown title h3" style="font-size: 6vw;" *ngIf="days > 0 || hours > 0 || minutes > 0 || seconds > 0">
          <div class='row' style='color: white;'>
            <div class='col-md-3 col-sm-6 col-3'>
              <div class='col-12'>{{days}}</div>
              <div style="font-size: 4vw">Jours</div>
            </div>
            <div class='col-md-3 col-sm-6 col-3'>
              <div class='col-12'>{{hours}}</div>
              <div style="font-size: 4vw">Heures</div>
            </div>
            <div class='col-md-3 col-sm-6 col-3'>
              <div class='col-12'>{{minutes}}</div>
              <div style="font-size: 4vw">Minutes</div>
            </div>
            <div class='col-md-3 col-sm-6 col-3'>
              <div class='col-12'>{{seconds}}</div>
              <div style="font-size: 4vw">Secondes</div>
            </div>
          </div>
        </h3>
        <br>
      </ng-container>
      <ng-template #finishTemplate>
        <div class="white" id="date" style="font-size: 4rem">Le LAN est fini</div>
        <div class="white" style="font-size: 2rem">Nous nous reverrons bientôt</div>
      </ng-template>
      <a href="" class="btn-MobileParticiper">Participer</a>
    </div>      
    </div>

  </div>


</ng-template>